select {
    width:98% !important;
}
input{
    width: 98% !important;
}
body .modal-body{
	max-height: none;
	height:72%;
}

/* Para cuando se abre la ficha desde otro sistema ocupar el 100% del iframe.. */
body .ancho-100{
    width:100%;
}

#exec_js{
	display:hidden;
}
/*************************************************/
/****************   BANNER  *****************/
/*************************************************/

.banner{
    background-image: url("../img/banner2.PNG");
    
    border: 1px solid #CCCCCC;
    width: 1024px;
    height: 149px;
    margin: 0 auto;
}

/*************************************************/
/****************   MODAL FICHA  *****************/
/*************************************************/

.header-ficha{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;       
     border-top-right-radius: 5px;
     min-height:30px;
}

body .modal-ficha{
    width:70%;
	height:80% !important;
    margin-top: -16px;
    margin-left: 0px;
    left:15%;
}

body .modal-body{
	max-height: none;	
}

.botonera-header{
    float:right;
}

body .header-ficha h3{
    font-size:13px;
    font-weight: bold;
    display:inline;
}

.azul{
     background-color: #364659 !important;
     color:white;
}

/* Para cuando se abre la ficha desde otro sistema ocupar el 100% del iframe.. */
body .ancho-100{
    width:100%;
}


/*************************************************/
/*********   MODAL MENSAJES DEL SISTEMA  *********/
/*************************************************/

body .mensaje-sistema {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    width: 40%;
    display:none;
}

.mensaje-sistema .modal-header{
    min-height:20px;    
}

.mensaje-sistema .modal-header a{
    float:right;
}

body .mensaje-contenido{
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

/***************************************************************/
/******************* PRESETS GENERALES *************************/
/***************************************************************/

.submit{
	float:right;
	clear:both;
}

.contenedor-well{
	padding: 2px !important;
		
}

.label-titular{
	width:100%;
	text-align:center !important;
	padding: 2px 0px !important;
	
}

/***************************************************************/
/****************** USUARIOS INDEX/LISTADO *********************/
/***************************************************************/

#UsuarioCrearUsuarioForm .row-fluid{
    width:93% !important;
    margin: 0 auto;
}
#UsuarioCrearUsuarioForm input{
    width:95% !important;
    
}
#UsuarioCrearUsuarioForm select{
    width:95% !important;
    
}
#menu_usuario .btn{
    width: 90%;
}
#menu_usuario .btn:last-child{
    padding-bottom: 5px ;
}
#menu_usuario .dropdown-menu{
    width:250px;
}
.listado-titular{
	width:auto;
	height: 30px !important;
	display:block;
	background-color:#364659 !important;
	border:none !important;
	padding: 4px !important;
	margin-bottom: 10px !important;
}

.listado-titular p{
	color:white;
	font-family: arial;
	height:13px;
	text-align:center;
	font-weight:bold;
	line-height:25px;
}

.listado-usuarios{
	background-color:none !important;
	border:none !important;
}



/***************************************************************/
/********************* USUARIOS BUSQUEDA ***********************/
/***************************************************************/

.top-50 {
	margin-top: 50px;	
}

.busqueda-usuario .campo-div{
	width:33%;
	float:left;
	min-width:60px;
}

.busqueda-usuario input{
	width:100%;
}
.paginador{
	background-color: #E9967A !important;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-weight: bold;
    margin-bottom: 2px !important;
    padding: 5px !important;
    text-align: center;
	
}
/********** RESULTADOS BUSQUEDA *********/


.titular-resultado th{
	background-color:#55736D !important;
	color:white;
	font-weight:bold;
	border-left: 1px solid white;
}

.titular-resultado th:first-child{
	border-left: none !important;
}



.nav.nav-pills.borde-abajo.barra-nav{
	background-color: white;
	margin-bottom:0px;
}

.modal-header {
    border-bottom: 1px solid #722821 !important;
	}
	
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #55736D !important;
    color: white !important;
}

.nav-pills > li > a {
	color:#55736D;
}

.nav-pills > li:first-child {
	margin-left:4px;
}

.borde-abajo{
	border-bottom: 1px solid #364659 !important;
}

/*************************************************/
    /********  REPORTES  *********/
/*************************************************/

.contenedor-reportes .resultados:nth-child(odd){
    background-color:#DDDDDD;
}

/*************************************************/
/************** FICHA USUARIOS INFO  *************/
/*************************************************/

.usuario-info .label{
	width:65px !important;
}

.usuario-info .ancho2 {
	width: 100px !important;
}

.usuario-info .col1{
	width:23%;
}

.usuario-info .col2{
	width:30%;
}

.usuario-info .col3{
	width:30%;
}

.usuario-info .col4{
	
}

.usuario-info .titulo-log{
	padding:2px !important;
	background-color:#55736D !important;
	color:white !important;
	text-align:center !important;
	font-weight:bold;
}

/*************************************************/
/********  FICHA USUARIOS SISTEMAS INFO  *********/
/*************************************************/


.ficha-usuario .sistema-float{
	background-color: white;
    border: 2px solid #55736D;
    padding: 7px;
    display:inline-block;
    float:left;
    width:47%;
    margin-right:8px;
    min-width:410px;
}

.ficha-usuario .sistema-float .label{
	float: left;
    margin-right: 5px;
    width: 55px;
}

.ficha-usuario .sistema-float .sistema-nombre{
	float:left;
	width:83%;
}

.ficha-usuario .sistema-float .sistema-link{
	float:left;
	width:83%;
}



/*************************************************/
/************  FICHA CREAR USUARIO  **************/
/*************************************************/

#usuario .row-fluid{
	width:98% !important;
}

.crear-usuario input{
	width:100% !important;
}

.crear-usuario select{
	width:100% !important;
}

.crear-usuario textarea{
	width:100%;
	height:40px;
}


.crear-usuario .checkbox{
	float:left;
}

.crear-usuario .label{
	float:left !important;
}

.crear-usuario .tt-suggestions{
	width:100%;
	height:250px;
	overflow-y:scroll;
}

.crear-usuario .tt-hint{
	width:100%;	
}


/*************************************************/
/*********   FICHA LISTAR PREGUNTAS     **********/
/*************************************************/

#listarPreguntas .pagination{
	max-width: 385px;
}

/*************************************************/
/*********    FICHA CREAR PREGUNTAS     **********/
/*************************************************/

#crearPregunta input{
	width:100%;
}

#crearPregunta .titulo-opciones{
	background-color: #702834;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-weight: bold;
    margin-bottom: 2px !important;
    padding: 5px !important;
    text-align: center;
  
}

#crearPregunta .boton-agregar{
	position:absolute;
	right:25px;
	margin-top:-1px;
}

#crearPregunta .borrar-opcion{
	float:right;
	position:relative;
	color: #702834;
	margin-right:4px;
	margin-top:4px;
}

#crearPregunta .borrar-opcion:hover{
	cursor:pointer;
}

#crearPregunta .contenedor-opciones input{
	width:98.5%;
}

#crearPregunta .label{
	width:99% !important;
	height:25px !important;
	
}

#crearPregunta .label span{
	float:left;
	position:relative;
	margin-top:4px;
}


/*************************************************/
/*********     CONTENEDOR PREGUNTAS     **********/
/*************************************************/

.contenedor-preguntas {
	padding:2px !important;
	height:100% !important;
	min-height:300px !important;
}

.preguntas-label .label{
	padding: 5px 0;
    text-align: center;
    width: 100% !important;
}

.preguntas-label {
	border-bottom: 2px solid #702834;
	}

.contenedor-preguntas .posicion{
	float: left; 
	margin-left: 5px; 
	border-right:2px solid #702834;
	padding:0px 4px 0px 0px;
	min-width:16px;
}

.contenedor-preguntas .pregunta{
	margin-top:4px;
	border-bottom: 1px solid #702834;
}

.contenedor-preguntas .pregunta span{
	text-align:center;
	margin-top:3px;
	font-weight:bold;
	color:#702834;
	display:block;
}

.contenedor-preguntas .pregunta:nth-child(odd){
	background-color:#F5F5F5;
	
}

.contenedor-preguntas .pregunta:last-child{
	border-bottom:none;
}

.contenedor-preguntas .boton-posicion{
	float:right;
	margin-left:4px;
	margin-top:7px;
	cursor:pointer;
}

.botones a{
	float:right;
	margin-top:4px;
	margin-left:4px;
}

.botones input[type="checkbox"]{
	float:right;
	margin-top:4px;
	margin-left:4px;
}

/*************************************************/
/*********    CONTENEDOR VALIDACIONES   **********/
/*************************************************/

#validaciones {
	margin-top:2px !important;
}

#validaciones .titulo-opciones{
	margin-top:2px !important;
}

.validacion{
	background-color: white !important;
	border: 2px solid black !important;
	margin-top:4px;
	padding: 5px 5px 0 !important;
}

.validacion textarea{
	height: 45px;
    width: 100% !important;
}

.validacion .boton-borrar{
	background-color: #000000;
    border: 1px solid #000000 !important;
    color: #FFFFFF !important;
    float: right;
    opacity: 0.7;
    margin-bottom:2px;
}

.validacion .boton-borrar:hover{
	background-color:white;
	color: black !important;	
}

.titulo-validaciones{
	padding-bottom: 3px;
}

.titulo-validaciones .label{
	background-color: #000000;
    height: 25px !important;
    margin-bottom: 1px;
    margin-top: 2px;
    opacity: 0.7;
    padding: 2px !important;
    width: 99% !important;
}

.titulo-validaciones .label span{
	width:100%;
	text-align:center;
}


/*************************************************/
/*********       PRESET GENERALES       **********/
/*************************************************/

.borde-abajo-rojo{
	border-bottom:2px solid #702834;
}

.modal form{
	height:100% !important;
}

.titulo-general{
	background-color: #702834 !important;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-weight: bold;
    margin-bottom: 2px !important;
    padding: 5px !important;
    text-align: center;
	
}

.titulo-general span{
	width:100%;
	text-align:center;
}

.titulo-general a{
	position:absolute;
	right:25px;
	margin-top:-1px;
}

.input-100{
	width:100% !important;
}
/*************************************************/
/*********  FICHA CREAR USUARIO GRUPO   **********/
/*************************************************/

.usuario-grupo .botones-sugerencia{
	width:120px !important;
	float:right;
}

.usuario-grupo .valor-sugerencia{
	width:auto;
	float:left;
}

.grupos-seleccionados{
	background-color:white;
	border:2px solid #55736D;
	padding:4px !important;
	height:300px;
	overflow-y:scroll;
}

.grupos-seleccionados .titular{
	background-color:#364659;
	color:white;
	text-align:center;
	font-weight:bold;
}

.grupos-seleccionados .row-fluid{
	padding-top: 4px !important;
}


.buscar-grupo{
	width:80%;
}

.buscar-grupo input{
	width:100%;
}

.buscar-grupo  .twitter-typeahead{
	width:100%;
}

.buscar-grupo  .tt-dropdown-menu {
	width:100% !important;
	overflow-y:scroll;
	height:300px;
}

.buscar-grupo .botones-sugerencia{
	
}

.label-grupo{
	width:100%;
	color:white !important;
	background-color:#55736D !important;
	padding:3px !important;
}


.label-grupo span {
    float: left;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

.boton-grupos{
	float:right;
}
/*************************************************/
/*****************  PAGINADOR  *******************/
/*************************************************/

.pagination {
	margin:0px auto !important;
	
}

.pagination a{
	background-color:#364659 !important;
	color:white;
	font-weight: bold;
}

.pagination .Current a{
	background-color:white !important;
	color:#364659 !important;
}

.pagination a:hover{
    background-color:#55736D !important;
    color: white !important;
    font-weight:bold;
}
.tabla_titulo{
    	background-color:#696969 !important;
	color:white;
	font-weight: bold;
        border-style:solid;
}
.centro{
    text-align: center;
}
/*************************************************/
/**************  TYPEAHEAD TUNEADO  **************/
/*************************************************/


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  border-top: 1px solid #DDDDDD;
  padding: 8px;
  text-align: left;
}

.tt-suggestion:nth-child(even){
	background-color:#F9F9F9;
}




.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tinte-1{
	color:#55736D;
}

.tinte-3{
	color:white;
}


/*************************************************/
/***************  REPORTES CREAR   ***************/
/*************************************************/

.generar-reporte{
	margin-top:70px;
}




